.blog-page {
    margin: 40px 0px;

    .single-blog {
        .blog-thumbnail {
            width: 100%;
            margin-bottom: 10px;

            img {
                width: 100%;
                aspect-ratio: 269 / 207;
                object-fit: cover;
            }
        }

        .blog-title {
            a {
                color: #000;
            }

            h4 {
                font-size: 23px;
                font-weight: 600;
                font-family: Cormorant, sans-serif;
                letter-spacing: 0;
                color: #000;
                word-wrap: break-word;
            }
        }

        .blog-desc {
            a {
                color: #545454;
            }
        }
    }

    .page-link {
        color: #bb9230;
    }

    .blog-sidebar {
        .sidebar-title {
            h3 {
                font-family: Cormorant, sans-serif;
                letter-spacing: 0;
                text-transform: uppercase;
                color: #000;
                word-wrap: break-word;
                font-size: 22px;
                line-height: 1.32em;
                font-weight: 600;
            }
        }

        .sidebar-search {
            margin-bottom: 30px;

            input {
                outline: none;
                border: none;
                border-bottom: 1px solid #545454;
                padding: 6px 10px;
            }

            button {
                background-color: #bb9230;
                color: #fff;
                padding: 6px 25px;
                border-radius: 8px;
            }
        }

        .sidebar-category {
            margin-bottom: 30px;

            ul {
                li {
                    list-style: inside;
                }

                a {
                    color: #000;
                    font-family: Mulish, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 27px;
                }
            }
        }

        .sidebar-latest {
            margin-bottom: 30px;

            .latest-wrapper {
                .photo-thumbnail {
                    width: 80px;
                    margin-right: 10px;

                    img {
                        width: 80px;
                        aspect-ratio: 70 / 49;
                        object-fit: cover;
                    }
                }

                .blog-info {
                    width: calc(100% - 80px);
                    overflow: hidden;

                    h4 {
                        font-family: Cormorant, sans-serif;
                        letter-spacing: 0;
                        text-transform: uppercase;
                        color: #000;
                        word-wrap: break-word;
                        font-size: 16px;
                        line-height: 1.32em;
                        font-weight: 600;
                    }

                    span {
                        font-size: 11px;
                        color: #000;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }

                }
            }
        }
    }
}

.blog-details-page {
    .blog-details-wrapper {
        .blog-details-image {
            img {
                width: 100%;
                max-width: 100%;
                max-height: 580px;
                object-fit: cover;
            }
        }

        .blog-details-text {
            h2 {
                font-family: Cormorant, sans-serif;
                letter-spacing: 0;
                text-transform: uppercase;
                color: #000;
                font-size: 22px;
                line-height: 1.32em;
                font-weight: 600;
            }

            p {
                font-family: Mulish, sans-serif;
                color: #545454;
                font-size: 18px;
                line-height: 29px;
                letter-spacing: 1px;
            }
        }
    }

}