/** Cormorant  */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
/** Mulish  */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

:root {
    --main-color: #bb9230;
    --secondary-color: #bc9331;
    --gray-color: #545454;
    --text-color: #e0dcd0;
    --black-color: #000;
    --white-color: #fff;
    --little-text-color: #faf7ec;
    --nav-bcg: #1f1e1e;
    --icons-bcg: #F6F2E5;
    --footer-bcg: #1d1c1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
    padding-bottom: 40px;

    h1 {
        font-family: Cormorant, sans-serif;
        letter-spacing: 0;
        text-transform: uppercase;
        color: var(--black-color);
        word-wrap: break-word;
    }

    span {
        font-size: 18px;
        line-height: 1.6em;
        color: var(--gray-color);
    }
}

.svg {
    cursor: pointer;
}

.more {
    opacity: 0;
    transform: translateY(60%);
    transition: all 0.6s ease;
    display: inline-block;
    color: var(--black-color);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Mulish, sans-serif;
    cursor: pointer;

}

.wrapper:hover .more {
    opacity: 1;
}

.wrapper:hover .svg {
    opacity: 0;
}

/*? responsive header start  */

.responsive-header {
    padding: 20px;
    border-bottom: 1px solid #e7e3e3;

    img {
        width: 100%;
        max-width: 202px;
    }

    .responsive-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--icons-bcg);
        border-radius: 50%;
        width: 71px;
        height: 71px;
        cursor: pointer;

        svg {
            width: 30px;
            height: 20px;
        }
    }
}

.offcanvas-body {
    ul a {
        font-size: 20px;
        font-weight: 600;
        font-family: Cormorant, sans-serif;
        color: var(--gray-color);
    }

    .active {
        color: var(--main-color);
    }
}

/*? responsive header end  */


/*? search start  */
.search-wrapper {
    background-color: var(--icons-bcg);
    transform: translateY(-100%);
    display: none;
    opacity: 0;
    transition: all .5s;

    svg {
        padding-right: 13px;
        width: 38px;
        border-right: 1px solid #605f5b;
    }

    input {
        border: none;
        color: #898781;
        background-color: transparent;
        font-family: Mulish, sans-serif;
        font-size: 18px;
        font-weight: 400;
        width: 500px;
        outline: none;
        padding: 13px 0 14px 33px;
    }
}

.active {
    transform: translateY(0) !important;
    opacity: 1 !important;
}

/*? search end  */

/*? nav start  */
nav {
    background-color: var(--nav-bcg);
    padding: 16px 0px;

    span,
    a {
        font-family: Mulish, sans-serif;
        font-size: 11px;
        color: var(--text-color);
        letter-spacing: 2px;
    }

    svg {
        fill: var(--white-color);
        margin-right: 7px;
    }
}

/*? nav end  */

/*? header start  */
header {
    .container {
        .top-header {
            padding: 50px 40px;

            .links {

                a,
                .search {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--icons-bcg);
                    border-radius: 50%;
                    width: 71px;
                    height: 71px;
                    cursor: pointer;
                }

                svg {
                    width: 42px;
                    height: 42px;
                }

                .count {
                    background-color: var(--black-color);
                    color: var(--white-color);
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    font-family: Cormorant, sans-serif;
                    font-size: 22px;
                    line-height: .8em;
                    text-align: center;
                }
            }

            .logo-wrapper {
                width: 100%;
                max-width: 350px;

                img {
                    width: 100%;
                }
            }
        }

        .bottom-header {
            border-bottom: 1px solid #e7e3e3;
            border-top: 1px solid #e7e3e3;
            padding: 20px;
            position: relative;
            transition: all 0.3s ease;
            z-index: 1000;

            ul {
                a {
                    font-family: Cormorant, sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 23px;
                    color: var(--black-color);
                }

                .active {
                    color: var(--main-color);
                }
            }
        }
    }
}

/*? header end  */

/*? gallery-section start  */
.gallery-section {
    padding-top: 50px;

    .carousel-item {
        .content {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            span {
                font-size: 12px;
                line-height: 1.5em;
                letter-spacing: .15em;
                color: var(--black-color);
                font-family: Mulish, sans-serif;
            }

            h2 {
                font-family: Cormorant, sans-serif;
                letter-spacing: 0;
                text-transform: uppercase;
                color: var(--black-color);
                margin: 25px 0;
                word-wrap: break-word;
                font-weight: 600;
                text-align: center;
            }

            a {
                font-size: 11px;
                line-height: 2em;
                font-weight: 600;
                letter-spacing: .2em;
                text-transform: uppercase;
                background: var(--black-color);
                color: var(--white-color);
                padding: 13px 37px;
            }
        }
    }

    .carousel-control-prev-icon {
        background-image: url(../images/home/left-arrow.png);
        width: 33%;
    }

    .carousel-control-prev {
        margin-left: -4%;
    }

    .carousel-control-next-icon {
        background-image: url(../images/home/right-arrow.png);
        width: 33%;
        margin-left: 48%;
    }
}

/*? gallery-section end  */

/*? about-section start  */
.about-section {
    padding-top: 70px;

    .about-img img {
        position: relative;
    }

    .absolute-img {
        top: -9%;
        right: -4%;
    }

    .about-content {
        padding: 35px 70px 0 67px;

        h2 {
            font-family: Cormorant, sans-serif;
            letter-spacing: 0;
            text-transform: uppercase;
            color: var(--black-color);
            margin: 25px 0;
            word-wrap: break-word;
        }

        span {
            font-size: 18px;
            line-height: 1.6em;
            color: var(--gray-color);
            font-family: Mulish, sans-serif;
        }

        .about-read-btn {
            margin-top: 33px;

            a {
                font-size: 11px;
                line-height: 2em;
                font-weight: 600;
                letter-spacing: .2em;
                text-transform: uppercase;
                background: var(--black-color);
                color: var(--white-color);
                padding: 17px 37px;
            }
        }
    }
}

/*? about-section end  */

/*? product-section start  */
.product-section {
    padding-top: 90px;
    padding-bottom: 90px;

    .product {
        background-image: url(../images/products/background-pattern.png);
        width: 413px;
        height: 460px;

        .product-image {

            /* padding: 20px; */
            .second-product {
                position: relative;
                top: 1rem;
                left: 12rem;
            }
        }

        .product-content {
            padding: 2% 14% 13% 14%;

            h3 {
                font-size: 25px;
                line-height: 1.32em;
                font-weight: 600;
                font-family: Cormorant, sans-serif;
                letter-spacing: 0;
                text-transform: uppercase;
                color: var(--black-color);
                word-wrap: break-word;
            }

            p {
                font-family: Mulish, sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 27px;
                color: var(--gray-color);
                margin: 9px 0 8px 0;
            }

        }
    }
}

/*? product-section end  */

/*? blog-section start  */
.blog-section {
    margin-bottom: 50px;

    .blog-bcg {
        background-image: url(../images/products/background-pattern.png);
        /* width: 100%; */
        padding: 148px 88px 148px 82px;
        width: 646px;
        height: 100%;

        h2 {
            font-family: Cormorant, sans-serif;
            letter-spacing: 0;
            text-transform: uppercase;
            color: var(--black-color);
            word-wrap: break-word;
            font-size: 30px;
            line-height: 1.23em;
            font-weight: 600;
        }

        p {
            font-family: Mulish, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color: var(--gray-color);
            margin: 22px 0px;
        }
    }

    .blog-box {
        .image {
            height: 535px;
            margin-bottom: 10px;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

/*? blog-section end  */


/*? footer start  */
footer {
    background-color: var(--footer-bcg);
    padding: 30px 0;

    .container {
        border-bottom: 1px solid #918f89;
        padding-bottom: 4%;
    }

    p {
        font-family: Muli, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        margin: 25px 0;
        color: var(--little-text-color);
    }

    h3 {
        font-size: 25px;
        line-height: 1.32em;
        font-weight: 600;
        font-family: Cormorant, sans-serif;
        letter-spacing: 0;
        text-transform: uppercase;
        color: var(--white-color);
        margin: 25px 0;
        word-wrap: break-word;
    }

    li {
        a {
            font-family: Muli, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color: var(--text-color);
        }
    }

    i {
        color: var(--gray-color);
    }

    .icon-name {
        letter-spacing: 1px;
        font-size: 14px;
        color: #918f89;
    }

    .content {
        width: 280px;
    }

    .copyright {
        p {
            font-family: Cormorant, sans-serif;
            font-size: 18px;
            font-style: italic;
            color: #828181;
        }
    }
}

/*? footer end  */


/*! responsive design start  */

@media(max-width:1200px) {
    .blog-section {
        .blog-box {
            justify-content: center;

            .image {
                margin-bottom: 0 !important;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .blog-bcg {
            padding: 30px !important;
            margin-bottom: 10px;
            margin-top: 10px;

            h2 {
                font-size: 25px !important;
            }
        }

        .col-12 {
            width: 100%;
        }
    }
}

@media(max-width: 992px) {

    .gallery-section {
        padding-top: 25px !important;

        .carousel-item {
            flex-wrap: wrap;
            justify-content: center;

            .big-img img {
                width: 430px;
            }
        }

        .carousel-indicators [data-bs-target] {
            background-color: var(--black-color);
        }
    }

    footer {
        .wrapper {
            flex-direction: column !important;
            align-items: start !important;
        }
    }
}

@media (max-width: 1200px) {
    .about-section {
        .container {
            flex-direction: column;
        }

        .about-img img {
            width: 100%;
        }

        .absolute-img {
            right: 0% !important;
        }
    }

    .products-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*! responsive design end  */